<div class="container-fluid container-cards-pf">
    <a ui-sref="home.groups.create_group" class="btn btn-primary btn-lg ">Create new group</a>
    <br><br>
    <div class="row row-cards-pf">
        <p class="card-pf-aggregate-status-notifications">Your Groups</p>
        <div ng-repeat="g in usersGroups">
            <a>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card-pf card-pf-view card-pf-view-select card-pf-view-single-select card-pf-accented">
                        <div class="card-pf-body">
                            <h2 class="card-pf-title text-center">
                                <span style="color: #363636">{{g.name}}</span>
                            </h2>
                            <div class="card-pf-items text-center">
                                <div class="card-pf-item">
                                    <button ui-sref="home.groups.detail_group({groupId: g.id})" class="btn btn-primary btn-lg " type="button">Show</button>
                                    <button ui-sref="home.groups.update_group({groupId: g.id})" class="btn btn-primary btn-lg " type="button">Edit</button><!--ng-click="editGroup(g)"-->
                                    <button ng-click="deleteGroup(g)" class="btn btn-primary btn-lg " type="button">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row row-cards-pf">
        <p class="card-pf-aggregate-status-notifications">All Groups</p>
        <div ng-repeat="group in allGroups">
            <a>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card-pf card-pf-view card-pf-view-select card-pf-view-single-select card-pf-accented">
                        <div class="card-pf-body">
                            <h2 class="card-pf-title text-center">
                                <span style="color: #363636">{{group.name}}</span>
                            </h2>
                            <div class="card-pf-items text-center">
                                <div class="card-pf-item">
                                    <button ui-sref="home.groups.detail_group({groupId: group.id})" class="btn btn-primary btn-lg " type="button">Show</button>
                                    <button ui-sref="home.groups.update_group({groupId: group.id})" ng-if="userRole === 'ADMIN'" class="btn btn-primary btn-lg " type="button">Edit</button>
                                    <button ng-if="userRole === 'ADMIN'" ng-click="deleteGroup(group)" class="btn btn-primary btn-lg " type="button">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

