<html class="layout-pf layout-pf-fixed">
<script src="../bower_components/c3/c3.js"></script>
<script src="../bower_components/d3/d3.min.js"></script>
<script src="../bower_components/matchHeight/jquery.matchHeight-min.js"></script>
<script src="../bower_components/jquery/dist/jquery.js"></script>
<div>
    <div class="login-pf" id="login-wrapper">
    <span id="badge" style="margin: 0px;">
        <img src="https://images2.alphacoders.com/117/117340.jpg" style="height: inherit;">
    </span>
        <div class="container" ng-controller="LoginValidationController">
            <div class="row">
                <div class="col-sm-12">
                    <div id="brand">
                    </div><!--/#brand-->
                </div><!--/.col-*-->
                <div class="col-sm-7 col-md-6 col-lg-5 login">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="inputUsername" class="col-sm-2 col-md-2 control-label">Username</label>
                            <div class="col-sm-10 col-md-10">
                                <input type="text" class="form-control" id="inputUsername" placeholder="Please enter a valid email address" tabindex="1" pf-validation="validEmail(input)" ng-model="nauDto.email">
                                <span id="login-help-block" class="help-block">{{helpMessage}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-sm-2 col-md-2 control-label">Password</label>
                            <div class="col-sm-10 col-md-10">
                                <input type="password" class="form-control" id="inputPassword" placeholder="********"
                                       tabindex="2" ng-model="nauDto.password" pf-validation="validPassword(input)">
                                <span class="help-block">Password must contain at least one character</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-8 col-sm-offset-2 col-sm-6 col-md-offset-2 col-md-6">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" tabindex="3"> Remember username
                                    </label>
                                </div>
                                <span class="help-block"> Forgot <a href="#" tabindex="5">username</a> or <a href="#"
                                                                                                             tabindex="6">password</a>?</span>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 submit">
                                <button type="submit" class="btn btn-primary btn-lg" tabindex="4" ng-click="authenticate()">Log In</button>
                            </div>
                        </div>
                    </form>
                </div><!--/.col-*-->
                <div class="col-sm-5 col-md-6 col-lg-7 details">
                    <p><strong>Welcome to ActivEYE | Your best Activity tracker!</strong>
                        Supported by open interface project - ParentFly</p>
                </div><!--/.col-*-->
            </div><!--/.row-->
        </div><!--/.container-->
    </div>
    <div class="navbar-fixed-bottom" id="login-footer">
        <div class="container">

        </div>
    </div>
</div>
